/* HERO STYLING */

.hero {
    min-height: 60vh;
    overflow: hidden;
    position: relative;
    background-color: rgba(16, 16, 16, 0.5);
    display: flex;
    justify-content: center;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .hero-text {
    color: white;
    display: grid;
    grid-template-columns: 35vw 35vw;
    align-items: center;
  }
  
  .hero-logo {
    display: flex;
    justify-content: right;
    padding-right: 3.125rem;
  }
  
  .hero-desc {
    padding-left: 3.125rem;
    max-width: 45ch;
    font-size: 1.25rem;
  }
  
  .hero-desc-cta {
    font-weight: 200;
  }

  .border-left {
    border-left: 1px solid white;
  }
  
  /* PORTFOLIO STYLING */
  
  .portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .portfolio-links {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 2%;
  }
  
  .video-block {
    cursor: pointer;
  }
  
  .video-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .video-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .play-icon {
    position: absolute;
    background-color: rgb(255, 50, 50);
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 3%;
    border-radius: 50%;
  }
  
  .play-icon svg {
    margin-left: 4px;
  }
  
  /* CONTACT FORM STYLING */
  
  .contact {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form {
    border: none;
    border-radius: 10px;
    width: 60vw;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 3vh 4vw;
  }
  
  form h3 {
    margin: 0 0 10px;
  }
  
  form input, form textarea {
    font-family: 'Catamaran', sans-serif;
    font-size: 1rem;
    margin: 10px 0;
    border: 0;
    padding: 20px;
    background: #f7f7f7;
    outline: none;
    color: #333;
  }
  
  form textarea {
    resize: none;
  }
  
  form button {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    margin: 20px auto 0;
    padding: 10px 20px;
    color: white;
    background-color: #8976FD;
    border: none;
    border-radius: 15px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  form button:hover {
    scale: 1.2;
    background-color: #FCA61F;
  }
  
  form button:active {
    scale: 1;
    opacity: 0.6;
  }
  
  .g-recaptcha {
    margin: 20px auto 0;
    width: auto;
  }
  
  /* VIDEO MODAL STYLING */
  
  .modal-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s ease-in-out;
  }
  
  .modal {
    width: 90vw;
    position: relative;
    padding-top: 56.25%;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 90%;
    height: 90%;
  }
  
  .modal-video {
    display: none;
    opacity: 0;
  }

/* RESPONSIVE DESIGN */

@media (max-width: 1205px) {
  h2 {
    font-size: 1.25em;
  }
}

@media (max-width: 1027px) {
  .hero-text{
    grid-template-columns: 40vw 40vw;
  }

  h2 {
    font-size: 1.125em;
  }
  .hero-desc-cta {
    font-size: 1.125rem;
  }
}

@media (max-width: 825px) {

  /* HERO STYLING */

  .hero {
    min-height: auto;
  }

  .hero-text {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero-logo, .hero-desc {
    padding: 0;
    justify-content: center;
    text-align: center;
  }

  .hero-desc-cta {
    padding: 0 5px;
  }

  .border-left {
    border-left: 0;
    border-top: 1px solid white;
  }

  /* CONTACT STYLING */

  .contact-form {
    width: 90vw;
  }

}

@media (max-width: 640px) {

  /* PORTFOLIO STYLING */

  .portfolio-links {
    grid-template-columns: auto;
  }

  .video-thumbnail img {
    max-height: 200px;
  }

}